.todo-item {
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: 40px;
  transition: .3s;
}

.todo-item:hover {
  background: #f8acec;
}

.remove {
  position: absolute;
  right: 30px;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  opacity: 1;
  font-weight: bold;
  color: rgb(225, 0, 255);
}

.todo_text {
  flex: 1;
  word-break: break-all;
}

.checked {
  text-decoration: line-through;
  /*취소선 서식 글자흐리게*/
  color: #abd5bd;
}

.check_mark {
  margin-left:10px;
  font-size: 1.5rem;
  line-height: normal;
  color: rgb(225, 0, 255);
  font-weight: bold;
}

.todo-item:hover .check_mark{
  color: #fff;
}

.todo-item:hover .remove{
  opacity: 1;
  border: 1px solid #FFF;
  color: #fff;
}

.todo-item+.todo-item {
  border-top: 1px solid #f1f3f5;
}