.todo-item {
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: 40px;
  transition: .3s;
}

.todo-item:hover {
  background: #f8acec;
}

.remove {
  position: absolute;
  right: 30px;
  display: inline-block;
  line-height: 20px;
  opacity: 0;
  transition: 0.3s;
}

.todo-item:hover .remove {
  opacity: 1;
}

.todo_content>.todo_label {
  right: 100px;
  word-break: break-all;
}

.checked {
  text-decoration: line-through;
  /*취소선 서식 글자흐리게*/
  color: #ddd;
}

.check_mark {
  margin-left: 10px;
  font-size: 1.5rem;
  line-height: normal;
  color: rgb(225, 0, 255);
  font-weight: bold;
}

.todo-item:hover .check_mark {
  color: #fff;
}

.todo-item+.todo-item {
  border-top: 1px solid #f1f3f5;
}

.todo-item input {
  border: none;
  /* 테두리 제거 */
  outline: none;
  /* 포커스 파란선 제거 */
  background: none;
  /* 배경 제거 */
  padding: 0;
  /* 기본 여백 제거 */
  font: inherit;
  /* 글자 스타일 부모와 동일 */
}

.edit {
  position: absolute;
  right:80px;
}

.edit_btn {
  padding: 0.5rem 1rem;
  background: rgb(222, 113, 255);
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.edit_btn:hover {
  background: rgb(255, 255, 255, 0.8);
  color: rgb(222, 113, 255);
}